body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
}

.hero-title {
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

.hero-info {
    width: 500px;
}

.hero-paragraph {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.sign-up {
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    border: 0px;
    border-radius: 4px;
    margin-top: 10px;
    color: #E5E7EB;
}

.image {
    display: flex;
    width: 450px;
    height: 220px;
    background-color: #F9FAF8;
    flex-shrink: 0;
}

.right {
    display: flex;
    gap: 20px;
}

.left {
    font-weight: bold;
    padding: 0;
}

.header,
.hero {
    padding-bottom: 100px;
    margin-left: auto;
}

.top {
    margin-left: auto;
}

.section-1,
.section-5 {
    background-color: #1f2937;
}

.section-3 {
    background-color: #e5e7eb;
}